<div id="space-index" class="container pt-2">
  <div class="row">

  <div class="container my-3 col-12 col-lg-4">
    <% if @spaces.any? %>
      <div class="row">
        <% @spaces.each do |space| %>

          <div class="card-product mx-3 my-3">
            <img src="<%= space.photo %>" alt="">
            <div class="card-product-infos">
              <h2><%= space.name %></h2>
              <p><%= space.price %></p>
              <%= link_to "Check it out", space_path(space), class: "btn btn-outline-secondary btn-sm" %>
            </div>
          </div>

        <% end %>

      </div>
    <% else %>
      <p>There are no spaces available!</p>
    <% end %>
  </div>

    <div class="col-12 col-lg-8 ">
      <div id="map"
           data-markers="<%= @markers.to_json %>"
           data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
      ></div>
    </div>
 </div>
</div>
