<div class="container">

  <div class="banner" style="background-image: url(<%= @space.photo %>)"></div>

  <div class="row">
    <div class="col col-md-2"></div>
    <div class="col col-md-8">

      <h1 class="py-5"><%= @space.name %></h1>

      <p>price: <%= @space.price%></p>
      <p>number of desks: <%= @space.number_of_desks%></p>
      <p>address: <%= @space.address %></p>

      <div class="row">

          <button class="btn btn-primary mr-3">Book this space</button>

          <%= link_to spaces_path do %>
            <button class="btn btn-outline-secondary">Back to spaces</button>
          <% end %>

        <%= link_to "Add a review", new_space_review_path(@space) %>

      </div>

      <div class="row pt-5 flex-column">

        <% if user_signed_in? %>
          <% @space.reviews.each do |review| %>
            <p><%=review.content %></p>
            <%= link_to 'Delete', space_review_path(@space[:id], review), method: :delete %>
            <hr>
          <% end %>
        <% end %>

      </div>

    </div>
    <div class="col col-md-2"></div>
  </div>

</div>





