<div class="container w-50 p-3 mb-2 bg-light text-dark".bg-light>
  <%= simple_form_for @booking do |f| %>
  <%= f.association :user %>
  <%= f.association :space %>
  <%= f.input :day %>
  <%= f.submit "Update booking", class: "btn btn-primary" %>
  <% end %>

</div>
