

<div class="container my-3">
  <% if @bookings.any? %>
    <div class="row">
      <% @bookings.each do |booking| %>
        <div class="card mx-3 my-3" style="width: 18rem;">
          <img class="card-img-top" src="<%= booking.space.photo %>" alt="<%= booking.space.name %>"/>
          <div class="card-body">
            <h5 class="card-title">Booking number <%= booking.id %> </h5>
            <p> Booked by <%= booking.user.name%> </P>
            <p> Space booked on : <%= booking.day %> </P>
            <p> Space booked : <%= booking.space.name %> </P>
          </div>
             <div>
              <%= link_to "Update this booking", edit_booking_path(booking), class: "btn btn-primary mr-3" %>
             <%= link_to "Delete this booking", booking_path(booking), method: :delete,  data: { confirm: "Are you sure?" }, class: "btn btn-primary mr-3" %>
            </div>
        </div>
      <% end %>
    </div>
  <% else %>

  <div class="container w-50 p-3 mb-2 bg-light text-dark".bg-light>
    <p>You currently have no bookings!</p>
  <%= link_to 'Back to spaces list', spaces_path, class: "btn btn-primary" %>
  <% end %>
  </div>
</div>


