<%= render 'shared/navbar' %>
<div class="container my-5">

    <h1>Welcome to Desk Dash!</h1>
    <p>Use us if your office sucks!</p>

  <div class="row">
    <div class="col">

      <% if user_signed_in? %>
      <%# Bruno added 4 lines below%>
        <p>Welcome back [insert user name] </p>
      <%= link_to 'Click here to view all our spaces and make a new booking', spaces_path %>
      <br>
      <%= link_to 'View all your existing bookings', bookings_path %>

      <% else %>
        <%= link_to new_user_session_path do %>
          <button class="btn btn-dark">Sign in</button>
        <% end %>
      <% end %>

    </div>
  </div>
</div>

<%= render 'shared/footer' %>
