<!--find the index of the currently selected star -->
<!--map a new empty array/range to get the individual indicies-->
<!--for each index, fill in the relevant star-->

<%= simple_form_for [ @space, @review ] do |f| %>
  <%= f.input :rating, as: :radio_buttons, collection: [1, 2, 3, 4, 5] %>
  <%= f.label :rating %>
  <ul id="star-list" class="list-inline">
    <li class="list-inline-item"><span class="fa fa-star checked"></span></li>
    <li class="list-inline-item"><span class="fa fa-star checked"></span></li>
    <li class="list-inline-item"><span class="fa fa-star checked"></span></li>
    <li class="list-inline-item"><span class="fa fa-star"></span></li>
    <li class="list-inline-item"><span class="fa fa-star"></span></li>
  </ul>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: 'btn btn-primary' %>
<% end %>
