<%= simple_form_for [ @space, @review ] do |f| %>
  <%# <%= f.input :rating, collection: 1..5 %>
  <%= f.label :rating %>
  <span id="1-star" class="fa fa-star checked"></span>
  <span id="2-star" class="fa fa-star checked"></span>
  <span id="3-star" class="fa fa-star checked"></span>
  <span id="4-star" class="fa fa-star"></span>
  <span id="5-star" class="fa fa-star"></span>
  <%= f.input :content %>
  <%= f.submit "Submit review", class: 'btn btn-primary' %>
<% end %>
